<div class="loginMessage">
<h1>Site Credits</h1>
<br>
<p>Font: <%= link_to "Crimson Text", "http://www.google.com/fonts/specimen/Crimson+Text", target: "_blank" %>, free from Google.</p>
<br>
<p>API: <%= link_to "Readability parser", "https://www.readability.com/developers/api/parser", target: "_blank" %>.</p>
<br>
<p>All styles, formatting, design, and code by John Burge.</p>
</div>

<div class="loginMessage">
<h1>Next Steps</h1><br>
<p>Add highlight/comment features to articles.</p><br>
<p>Add "shelf" capability.</p><br>
<p>Add ability to share commented articles with non-members.</p><br>
<p>A focus on academics.</p><br>
</div>