<div class="loginMessage">
<p><span class="warning">WARNING!<span> You are about to delete your account. All of your articles, comments, and information will be deleted, including your full name, email, and password.</p>
<br>
<p>If you are certain you want to delete your account, click <%= link_to "here", "/destroy/#{session[:user_id]}" %>.</p>
</div>