/* This CSS reset code was created by Bill Weinman of lynda.com and bw.org. */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, blockquote, pre,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu,
nav, output, section, summary, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Crimson Text', serif;
}

/* End of Bill Weinman's code */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, output, section, summary, audio, video {
	background-color: #F0F0F0;
	font-size: 24px;
	color: #302C22;
}

.danger {
	margin: 0 auto;
	padding: 0;
	width: 60%;
	padding-top: 10px;
	font-family: 'Crimson Text', serif;
	font-size: 24px;
 }

.danger p {
	color: rgb(255, 0, 0)
 }

 .field_with_errors {
 	display: inline-block;
 	border: 1px solid rgb(255, 0, 0);
 	margin: -1;
 }

/* The following code sets the styles for the navigation links. */

#navDiv {
	width: 100% !important;
	background-color: rgba(48, 44, 34, 0.7) !important;
	margin: 0 auto !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

#navBar {
	width: 80% !important;
	margin: 0 auto !important;
	font-size: 24px !important;
	color: #E6E6E6 !important;
	text-align: right;
}

a.navLink:link, a.navLink:hover, a.navLink:visited, a.navLink:active {
	text-decoration: none !important;	
}

a.navLink:link {
	color: #E6E6E6 !important;
}

a.navLink:visited {
	color: #E6E6E6 !important;
}

a.navLink:hover {
	text-decoration: underline !important;
	color: #FFFFFF !important;
}

a.navLink:active {
	text-decoration: underline !important;
	color: #302C22 !important;
}

/* -------------------------------------------------------------------------- */

.loginMessage {
	margin: 0 auto;
	padding: 0;
	width: 60%;
	margin-top: 5%;
}

.loginForm {
	margin: 0 auto;
	padding: 0;
	width: 60%;
	margin-top: 2%;
	margin-bottom: 2%;
}

p {
	line-height: 1.5em;
}

.warning {
	color: rgb(255, 0, 0);
}

.formParagraph {
	width: 50%%;
	vertical-align: middle;
}

.form-text-field {
	display: inline-block;
	font-family: 'Crimson Text', serif;
	font-size: 24px;
	vertical-align: middle;
	padding: 5px;
}

input[type=submit] {
	border: 1px solid #302C22;
    color: #302C22;
    background: #F0F0F0;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	font-family: 'Crimson Text', serif;
	font-size: 24px;
}

input[type=submit]:hover {
    border: 2px solid #302C22;
    background: #F8F8FF;
    margin: -1px;
}

/* ---------- */

a {
	text-decoration: underline;
}

a:link {
	color: rgb(50, 60, 170);
}

a:visited {
	color: rgb(170, 60, 50);
}

a:hover {
	color: rgb(255, 0, 0);
}

a:active {
	color: rgb(240, 240, 240);
}